packetint 0x66
hostname o300
dhcp_lease_request_secs 14400
dhcp_lease_threshold 3600
mtu 1500

# DHCP.EXE will append/update IPADDR, NETMASK, GATEWAY, NAMESERVER,
# and lease information below this line after a successful lease.
